*,
*::before,
*::after{
    box-sizing: border-box;
}

:root{
    --font-family: "Inter", serif;
}

body{
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: var(--font-family);
}

.container{
    max-width: 800px;
    width: 80%;
    margin-inline: auto;
}

img{
    max-width: 100%;
    height: auto;
    object-fit: cover;
    object-position: center;
}

/* =============
    Typography
================ */

h1{
    font-size: 2.625rem;
    font-weight: 800;
    color: #FFF;
}

h3{
    font-weight: 500;
}

header a{
    font-size: 1rem;
    text-decoration: none;
    color: #FFF;
    font-weight: 700;
}

.movie-container p{
    line-height: 1.4;
    letter-spacing: .2px;
    color: #6B7280;
}

/* =========
    Layout
============ */

header{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0E0E0E;
    background: url('/assets/movie-poster.jpg'), linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.8));
    background-size: cover;
    background-position: center;
    background-blend-mode: overlay;
    padding-block: 5em;
}

header .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header a:hover{
    text-decoration: underline;
}

main{
    position: relative;
}

.search-bar{
    max-width: 470px;
    margin: auto;
    position: relative;
    top: -20px;
    left: 0;
    right: 0;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    box-shadow: 0px 0px 5px #0E0E0E60;
    margin-bottom: 1.375em;
}

.search-input{
    flex: 1;
    padding: 0.625em 2.625em;
    font-family: inherit;
    font-weight: 500;
    font-size: .875rem;
    border: none;
    outline: none;
    border-radius: 2.5px 0px 0px 2.5px;
}

/* buttons */
.btn{
    cursor: pointer;
    font-family: inherit;
    border: none;
}

.btn-search{
    padding: 0.625em 2.25em;
    background-color: #F9FAFB;
    border-left: 1px solid #D1D5DB;
    border-radius: 0px 2.5px 2.5px 0px;
}

/* movie-list */

.movie-list-container{
    width: 80%;
    margin: auto;
}

.movie-name-rating-container,
.movie-genre-container,
.movie-container,
.add-watchlist,
.movie-rating{
    display: flex;

}

.movie-name-rating-container,
.movie-container,
.add-watchlist
{
    align-items: center;
}

.movie-container{
    gap: 1em;
}

.movie-genre-container{
    width: 100%;
    justify-content: space-between;
}

.movie-container{
    padding-block: 1.25em;
}

.add-watchlist{
    text-decoration: none;
    color: #0E0E0E;
}

.movie-poster{
    width: 25%;
}

.movie-rating{
    margin-left: 1em;
}

.duration{
    margin-right: 1em;
}

.movie-metadata {
    flex: 1;
    min-width: 0;
}

.movie-duration-genre-container {
    min-width: 0;
}

.movie-list-container > *:not(:last-child) {
    border-bottom: 2px solid #E5E7EB;
}

.add-watchlist:hover{
    opacity: .8;
}



/* font-awesome */
.fa-solid{
    margin-right: .25em;
}

.fa-magnifying-glass{
    position: absolute;
    left: 0;
    margin: .5em .8em;
}

