*,
*::before,
*::after{
    box-sizing: border-box;
}

:root{
    --font-family: "Inter", serif;
}

body{
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: var(--font-family);
}

/* =============
    Typography
================ */

h1{
    font-size: 2.625rem;
    font-weight: 800;
    color: #FFF;
}

header a{
    font-size: .8rem;
    text-decoration: none;
    color: #FFF;
    font-weight: 700;
}

/* =========
    Layout
============ */

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #0E0E0E;
    background: url('/assets/movie-poster.jpg'), linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.8));
    background-size: cover;
    background-position: center;
    background-blend-mode: overlay;
    padding: 5em 2.5em;
}

main{
    position: relative;
}

.search-bar{
    max-width: 470px;
    width: fit-content;
    margin: auto;
    position: relative;
    top: -20px;
    left: 0;
    right: 0;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    box-shadow: 0px 0px 5px #0E0E0E60;
}

.search-input{
    flex: 1;
    padding: 0.625em 2.625em;
    font-family: inherit;
    font-weight: 500;
    font-size: .875rem;
    border: none;
    outline: none;
    border-radius: 2.5px 0px 0px 2.5px;
}

/* buttons */
.btn{
    cursor: pointer;
    font-family: inherit;
    border: none;
}

.btn-search{
    padding: 0.625em 2.25em;
    background-color: #F9FAFB;
    border-left: 1px solid #D1D5DB;
    border-radius: 0px 2.5px 2.5px 0px;
}

/* font-awesome */
.fa-solid{
    position: absolute;
    left: 0;
    margin: .5em .8em;
}

